

body{
    margin: 0;
    font-family: 'Antonio', sans-serif;

    font-size: 27px;
    color:#000000;
    line-height: 1.5;

}


*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*Message*/

.message{
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    background-color: #78BC61;
    border: 1px solid #608c51;
    border-radius: 10px;

    padding: 5px 10px;
    z-index: 1000000;
}

.message-cross{
    display: inline-block;
    font-size: 30px;
    margin-left: 5px;
    cursor:pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*Button*/

.scroll-btn{
    cursor: pointer;
}

.btn{
    display: inline-block;
    vertical-align: top;
    background: #0085FF;
    border-radius: 7px;
    padding: 1px 55px 9px 55px;

    text-decoration: none;
    color:#ffffff;

    font-size: 27px;
    line-height: 148%;
    text-align: center;

    transition: background-color 0.2s linear;
}

.btn span{
    margin-left: 5px;
    display: inline-block
}


.btn:hover, .call-button:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #006fd8;
}

.btn:active, .call-button:active{
    background-color: #0078e9;
    box-shadow: 0 0 0 3px #000000;
}

.fa-phone{
    transition: color 0.2s linear;
}

.fa-phone:hover{
    color: #608c51;
}


.burger-menu{
    display:none;
}

.cross{
    display: none;
}

/*Container*/
.container{
    width: 100%;
    max-width: 1363px;
    margin: 0 auto ;
    padding: 0 30px;

    overflow: hidden;

}


/*Header*/

.header{
    width: 100%;
    padding-top:  82px;
    padding-bottom: 21px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
    padding-top: 35px;
}

.header-logo{
    display: block;
    position: relative;

    margin-right: auto;

    text-decoration: none;
    color: #000000;
}

.header-logo-text{

    display: block;
    font-size: 72px;
    line-height: 1.3;
    -webkit-text-stroke: 2px #000000;

    padding-left:135px;

}

.header-logo-text::after{

    content: "медичний центр";
    display: block;
    width: 100%;
    height: auto;

    font-size: 24px;
    line-height: 1.29;
    opacity: 0.75;
    -webkit-text-stroke:0;
    text-align: center;

    padding-top: 3px;
}
.header-logo-text.ru::after{
    content: "медицинский центр";
}


.header-logo img{
    display: block;
    position: absolute;

    bottom: 45px;
    left: 0;
    z-index: 1000;
}


.header-tel{
    font-size: 50px;
    transform: translateY(-6px);


}

.header-tel-icon{
    display:inline-block;
    vertical-align: top;
    font-size:43px ;
    color: #78BC61;
    transform: translateY(4px);

}

.header-lang{
    display: block;
    transform: translateY(-9px);
    margin-left: 82px;
    text-decoration: none;
}

.header-lang-text{
    margin-top: -4px;

    color:#000000;
    font-family: 'Marmelad', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1;

}

.header-lang img{
    transition: box-shadow 0.2s linear;

}

.header-lang:hover{
    text-decoration: underline;
}

.header-lang:hover img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.nav{
    font-family: 'Marmelad', sans-serif;
    font-size: 28px;
    margin-left: -3px;
}

.nav-link{
    color:#000000;
    text-decoration: none;
    margin-right: 25px;

    opacity: 0.75;
    transition: opacity .2s linear;
}

.nav-link:hover{
    opacity: 1;
    text-decoration: underline;

}

/*Intro*/

.intro{
    width: 100%;
    height: auto;
    background-color: #F6F8FA;

}

.intro-iner{
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
}


.intro-right{
    width:100%;
    max-width: 500px;
    margin-right: 25px;
}

.intro-right-title{
    font-family: 'Marmelad', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 109%;

    padding-top: 13px;
}

.intro-right-text{
    font-size: 27px;
    line-height: 148%;
    opacity: 0.8;

    margin-top: 30px;
}

.intro-iner img{
    width: 100%;
    max-width: 630px;
    height: 100%;


}



/*Benefits*/

.benefits{
    padding: 83px 0;
}

.benefits-list{
    display:flex;
    justify-content: space-between;

    margin-top:83px;
}

.benefits-item{
    width: 289px;
    text-align: center;
}

.benefits-item:first-child{
    margin-left: -32px;
}

.benefits-item:last-child{
    margin-right: -32px;
}

.benefits-item img{
    margin-bottom:10px;
}

.benefit-title{
    font-family: 'Marmelad', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.benefit-text{
    display: inline-block;
    font-size: 25px;
    line-height: 112%;

    padding: 0 11px;
    opacity: 0.8;
}




/*Section*/

.section-header{
    text-align: center;
}

.section-title{
    font-family: 'Marmelad', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 125%;
}

.section-text{
    font-size: 27px;
    line-height: 107%;

    opacity: 0.8;

    padding: 0 60px;
}


/*Advertises*/

.advertises{
    margin-top:160px;
    padding-bottom: 63px;
}

.advertise{
    display: flex;
    justify-content: space-between;

}

.advertise:first-child{
    margin-bottom: 208px;
    padding-top: 20px
}

.advertise:last-child{
    margin-bottom: 15px;

}

.advertise-info{
    width:100%;
    max-width: 500px;
    margin-top: -23px;
}

.advertise-info:last-child{
    margin-right: -20px;
}

.advertise-title{
    font-family: 'Marmelad', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 125%;

    margin-left: -2px;
}

.advertise-text{
    margin-top: 29px;

    font-size: 27px;
    line-height: 148%;

    opacity: 0.8;
}

.advertise img{
    width:100%;
    max-width: 710px;
    height: 100%;
    border-radius: 10px;

}



/*Statistic*/


.statistic{
    background-color: #F6F8FA;
    padding: 72px 0 74px 0;
}

.stat{
    margin-top: 86px;

    display: flex;
    justify-content: space-between;
}

.stat-item{
    text-align: center;
    padding-bottom: 5px;
}

.stat-item:first-child{
    margin-left: -4px;
}

.stat-item:last-child{
    margin-right: -13px;
}

.stat-title{
    font-weight: 400;
    font-size: 72px;
    line-height: 1;

}

.stat-text{
    font-size: 25px;
    line-height: 112%;

    opacity: 0.6;

    width:100%;
    max-width: 186px;
    margin:21px auto 0 auto;
}



/*Partners*/

.partners{
    padding-top: 160px;
    padding-bottom: 133px;
}

.partners-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.partners-item{
    margin-right: 45px;

}

.partners-item:last-child{
    margin-right: 0;
}

.partners-item img{
    width: 100%;
    height: auto;
}

.partners-item:first-child img{
    max-width: 200px;
    margin-left:-3px;
}

.partners-item:nth-child(2) img{
    max-width: 289px;
    transform: translateY(5px);
}

.partners-item:nth-child(3) img{
    max-width: 219px;
    transform: translateY(20px);
}

.partners-item:last-child img{
    max-width: 360px;
    transform: translateY(10px);
}



/*Call*/

.call-iner{
    display:flex;
    padding: 130px 0;
}

.call-numbers{
    font-size: 64px;

    margin-right: auto;
    margin-left: auto;
}

.call-numbers i{
    display:inline-block;
    vertical-align: center;
    font-size:57px ;
    color: #78BC61;
    transform: translateY(-5px);
}


.call-form{
    max-width: 431px;
    width: 100%;
}

.call-input{
    width:100%;
    border:0;
    font-family: 'Antonio', sans-serif;
    font-size: 64px;

    margin-bottom: 49px;
}

.call-input::-moz-placeholder{
    color:#000000;
}

.call-input:-ms-input-placeholder{
    color:#000000;
}

.call-input::placeholder{
    color:#000000;
}

.call-input:focus{
    outline: 0;
}

.call-button{
    display: block;

    width: 100%;
    height: 69px;
    border:0;
    cursor:pointer;

    background: #0085FF;
    border-radius: 7px;
    padding: 1px 0 9px 0;

    color:#ffffff;

    font-family: 'Antonio', sans-serif;
    font-size: 27px;
    line-height: 148%;
    text-align: center;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.number:last-child{
    margin-top: 20px;
}



/*Footer*/

.footer{
    background-color: #E5E5E5;
}


.footer-iner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 41px 0;
}

.footer-name{
    font-size: 18px;
}

.footer-text{
    font-size: 16px;
}

.footer-text-right{
    text-align: end;
}

.footer-link{
    display: inline-block;

    text-decoration: none;
    color:#000000;
    font-size: 16px;
    line-height: 1;
    vertical-align: top;
    margin-top:5px;
    margin-right: 20px;
}

.footer-link:hover{
    text-decoration: underline;
}

.footer-icons{
    display: inline-block;

    text-decoration: none;
    color:#000000;
    font-size: 20px;
    vertical-align: top;
    margin-top:-3px;
    margin-right: 5px;
}

.footer-icons:hover{
    color: #0085FF ;
}



/*Contacts*/

.contacts{
    width: 100%;
    height: auto;
    background-color: #F6F8FA;

    padding: 130px 0;
}

.contacts-inner{
    display: flex;
    justify-content: space-between;

    margin: 115px 0;
}

.contacts-inner img{
    display: block;
    border-radius: 10px;

    width: 100%;
    max-width: 650px;
    height: 100%;

    margin-right: 35px;
}

.contacts-title{
    margin-left: -6px;
    max-width: 300px;
}

.contacts-text{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0;
}

.contacts-text i{
    display: inline-block;
    margin-right: 8px;
}

.contacts-info{
    display: flex;
    justify-content: space-between;
}

.contacts-info-item{
    width: 500px;
}

.contacts-link{
    color:#000000;
    text-decoration: none;

    transition: opacity .2s linear;
}

.contacts-link:hover{
    opacity: 1;
    text-decoration: underline;

}


/*Doctor*/

.doctors-title{
    max-width: 500px;
}

.doctors{
    width: 100%;
    height: auto;
    background-color: #F6F8FA;

    padding: 130px 0;
    padding-bottom: 101px;
}

.doctors-list{
    margin: 115px 0;
    margin-bottom: 89px;

    display: flex;
    flex-wrap: wrap;
    gap: 89px 89px;
    justify-content: center;
}

.doctors-item{
    background-color: white ;
    width:375px;
    height:auto;
    text-align: center;

    border-radius: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}



.doctors-item img{
    width:100%;
    height:auto;
    display: block;
}

.doctors-info{
    display: flex;
    flex-direction: column;
    height: 392px;
    align-items: center;
}

.doctors-name{
    font-family: 'Marmelad', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.194;

    margin-top: 35px;
}

.doctors-prof{
    width: 267px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 30px;
}

.doctors-prof:first-letter{
    text-transform: uppercase;
}

.doctors-exp{
    display: inline-block;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.5;
}

.doctors-exp i{
    margin-right: 5px;
}

.doctors-btn{
    font-size: 25px;
    padding: 2px 35px 11px 35px;
    margin-bottom: 40px;
    margin-top: auto;
}

/* Doctor-inf */

#doctors-inf-img{
    width: 100%;
    max-width: 375px;
    max-height: 375px;
    height: auto;

    border-radius: 20px;
}

.doctors-inf-text{
    max-width: 100%;
}

.contacts-text a{
    color:#000000;
    text-decoration: none;
}

.doctor-inf-title{
    max-width: 100%;
}


@media (max-width: 1363px){
    /*Doctor*/

    .doctors-list{
        gap: 58px 58px;
    }
}




@media (max-width: 1300px){

    /*Container*/
    .container{
        padding : 0 60px;
    }



   /*Header*/

   .header{
        padding-top: 42px;
        padding-bottom: 7px;
   }

   .header-top{
        margin-bottom: 20px;
   }

   .header-logo-text{
       font-size: 52px;
       padding-left: 90px;
       line-height: 1;
   }

   .header-logo-text::after{
        font-size: 21px;
   }

   .header-logo img{
        max-width: 82px;
        bottom: 29px;
   }

   .header-tel {
        font-size: 35px;
        transform: translateY(-5px);
    }

   .header-tel-icon {
        font-size: 32px;
        transform: translateY(0);
    }

    .header-lang {
        margin-left: 42px;
        transform: translateY(-12px);
    }

    .header-lang img{
        max-width: 60px;
        height: auto;
    }

    .header-lang-text {
        font-size: 16px;
    }

    .nav{
        font-size: 21px;
    }

    .nav-link{
        margin-right: 15px;
    }


    /*Intro*/

    .intro-right-title {
        font-size: 40px;
    }

    .intro-right-text {
        font-size: 24px;
    }

    .intro-iner img {
        max-width: 470px;
    }

    .intro-iner {
        padding: 110px 0;
    }


    /*Benefits*/

    .section-title {
        font-size: 35px;
    }

    .section-text {
        font-size: 24px;
        margin: 15px 0;
    }

    .benefit-title {
        font-size: 25px;
    }

    .benefit-text {
        font-size: 22px;
        line-height: 1.15;
        padding: 0 15px;
    }


    .benefits-item:first-child {
        margin-left: -20px;
    }

    .benefits-item:last-child {
        margin-right: -42px;
    }



    /*Advertises*/

    .advertises{
        margin-top:60px;
    }

    .advertise-title{
        font-size: 35px;
    }

    .advertise-text{
        font-size: 24px;

    }

    .advertise-info {
        margin-top: -13px;
    }

    .advertise img {
        max-width: 500px;
    }

    .advertise:first-child img{
        margin-left: 35px;
    }

    .advertise:last-child img{
        margin-right: 35px;
    }

    .advertise:first-child {
        margin-bottom: 133px;
    }

    .advertise-info:last-child {
        margin-right: 0;
    }

    .btn{
        font-size: 24px;
    }



    /*Statistic*/

    .statistic{
        padding: 62px 0 44px 0;
    }

    .stat{
        margin-bottom: 56px;
    }

    .stat-item:last-child {
        margin-right: -26px;
    }

    .stat-title {
        font-size: 60px;
    }

    .stat-text {
        font-size: 22px;
        line-height: 1.15;
    }




    /*Partners*/

    .partners {
        padding-top: 100px;
        padding-bottom: 63px;
    }




    /*Call*/

    .call-numbers {
        font-size: 47px;
    }

    .call-numbers i{
        font-size:42px ;
    }

    .call-input {
        font-size: 47px;
        margin-bottom: 42px;
    }

    .call-button {
        height: 55px;
        font-size: 24px;
    }

    .call-form{
        max-width: 320px;
        margin: 0 auto;
    }

    .call-iner{
        padding: 92px 0;
    }


    /*Contacts*/

    .contacts-inner{
        flex-direction: column;
        align-items: center;
        margin: 60px 0;

    }

    .contacts-title {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
    }

    .contacts-inner img {
        max-width: 600px;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .contacts {
        padding: 60px 0;
    }

    .contacts-text {
        max-width: 100%;
    }

    .contacts-info-item:last-child{
        max-width: 300px;
    }

    /*Doctor*/

    .doctors-title {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
    }

    .doctors {
        padding: 60px 0;
    }

    .doctors-list{
        margin: 60px 0;

    }

    .doctors-name {
        font-size: 31px;
        max-width: 300px;
    }

    .doctors-exp {
        font-size: 19px;
    }

    .doctors-info {
        height: 362px;
    }


}






@media (max-width: 1065px){

    /*Intro*/

    .intro-right-text {
        margin-top: 5px;
        line-height: 135%;
    }

    /*Advertises*/

    .advertise-text{
        margin-top: 5px;
        line-height: 135%;
    }


    /*Partners*/

    .partners-item:nth-child(2) img {
        transform: translateY(3px);
    }

    .partners-item:nth-child(3) img {
        transform: translateY(12px);
    }

    .partners-item:last-child img {
        transform: translateY(3px);
    }


    /*Footer*/

    .footer-iner{
        flex-wrap: wrap;
    }

    .footer-item{
        width: 50%;
    }

    .footer-item:nth-child(2){
        order:1;
    }

    .footer-item:nth-child(3){
        order:1;
        text-align: end;
    }

    .footer-item:nth-child(4){
        margin-bottom: 10px;
        text-align: end;
    }

    /*Contacts*/

    .contacts-text{
        line-height: 148%;
    }

}



@media (max-width: 992px){

    /*Container*/
    .container{
        padding: 0 30px;
    }


    /*Intro*/

    .intro-iner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 80px 0;

    }

    .intro-right{
        text-align: center;
        max-width: 100%;
        margin-right:0;
    }

    .intro-right-title{
        line-height: 118%;
    }

    .intro-right-text {
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .intro-iner img {
        max-width: 630px;
        margin-right: -45px;
    }

    /*Benefits*/

    .benefits-list {
        flex-direction: column;
        align-items: center;
    }

    .benefits-item:first-child {
        margin-left: 0;
    }

    .benefits-item:last-child {
        margin-right: 0;
    }

    .benefits-item {
        width: 100%;
        margin-bottom: 60px;
    }

    .benefit-text{
        display:block;
        padding: 0 60px;
    }

    .section-text{
        padding: 0;
        line-height: 1.15;
    }



    /*Advertises*/

    .advertise{
        flex-direction: column-reverse;
        align-items: center;
    }

    .advertise:last-child{
        flex-direction: column;
    }

    .advertise:first-child img{
        margin-left: 0;
    }

    .advertise:last-child img{
        margin-right: 0;
    }

    .advertise-info {
        margin-top: 35px;
    }

    .advertise img {
        max-width: 710px;
    }

    .advertise-info {
        max-width: 710px;
    }

    .advertise-text {
        line-height: 148%;
    }

    .advertises {
        margin-top: 0px;
    }



    /*Statistic*/

    .statistic{
        padding-bottom: 0;
    }

    .stat{
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .stat-item{
        width: 50%;
        margin-bottom: 80px;
    }

    .stat-item:first-child{
        margin-left: 0;
    }

    .stat-item:last-child{
        margin-right: 0;
    }


    /*Partners*/

    .partners-list{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .partners-item{
        width: 50%;
        margin: 0;
        text-align: center;

    }

    .partners-item:nth-child(2n-1){
        padding-right: 40px;
    }

    .partners-item:nth-child(2n){
        padding-left: 40px;
    }

    .partners-item:last-child img {
        -o-object-fit: cover;
           object-fit: cover;
        max-width: 340px;
        max-height: 200px;
    }

    .partners-item:nth-child(3) img {
        transform: translateY(8px);
    }


    /*Call*/

    .call-iner{
        flex-direction: column;
    }

    .call-form{
        margin-bottom: 80px;
    }

    .number:last-child {
        margin-top: 7px;
    }

    .call-input {
        margin-bottom: 30px;
    }

    /*Contacts*/

    .contacts-info-item:last-child{
        max-width: 150px;
    }


    /*Doctor*/

    .doctors-prof {
        padding: 0 15px;
    }
}


@media (max-width: 768px){

    /*Container*/
    .container{
        padding: 0 15px;
    }


    /*Header*/

    .header {
        padding:0;
    }

    .header-tel-text{
        display: none;
    }

    .header-lang{
        display: none;
        margin: 0;
        margin-top: 60px;

    }


    .burger-menu{
        display: block;
        font-size: 38px;
        transform: translateY(-9px);
        margin-left: 20px;

        cursor: pointer;

        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .cross{
        display: none;
        font-size: 44px;
        transform: translateY(-9px);
        margin-left: 25.75px;

        cursor: pointer;

        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .nav{
        display: none;
        text-align: center;
        background-color: #E5E5E5;
        width: 100%;
        top: 135px;
        right: 0;

        position: absolute;
        z-index: 1000;

        padding: 20px 0;
    }

    .nav-link{
        display: block;
        margin: 10px auto;
    }

    /*hiden*/

    .hiden{
        display: none;
    }

    .block{
        display: block;
    }


    /*Intro*/


    .intro-iner{
        padding: 58px 0;
    }

    .intro-right-title {
        font-size: 37px;
        padding:0;
    }

    .intro-right-text {
        font-size: 22px;
    }

    .intro-iner img {
        max-width: 550px;
    }


    /*Benefits*/
    .benefits{
        padding-bottom: 55px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-text {
        font-size: 22px;
    }

    .benefit-title {
        font-size: 23px;
    }

    .benefit-text {
        font-size: 21px;
    }

    /*Advertises*/


    .advertise-title {
        font-size: 32px;
    }

    .advertise-text {
        font-size: 22px;
    }


    .btn{
        font-size: 22px;
    }

    .advertise:first-child {
        margin-bottom: 100px;
    }


    /*Statistic*/

    .stat{
        margin-top: 46px;
    }

    .stat-title{
        font-size: 46px;
    }

    .stat-text{
        font-size: 20px;
        padding: 0 3px;
    }

    .stat-item{
        margin-bottom: 40px;
    }

    /*Partners*/

    .partners {
        padding-top: 60px;
        padding-bottom: 20px;
    }


    /*Call*/

    .call-numbers {
        font-size: 43px;
    }

    .call-input{
        font-size: 43px;
    }

    .call-form {
        max-width: 290px;
        margin-bottom: 50px;

    }

    .call-button {
        height: 52px;
        font-size: 22px;
        margin-left: 3px;
    }

    .call-iner {
        padding: 62px 0;
    }



    .call-numbers i{
        font-size:37px ;
    }


    /*Footer*/

    .footer-item{
        width: 100%;
        text-align: center;
    }


    .footer-item:nth-child(1){
        margin-bottom: 10px;
    }

    .footer-item:nth-child(3){
        order:-1;
        text-align: center;
    }

    .footer-item:nth-child(4){
        text-align: center;
        order: 2;
    }

    .footer-text-right{
        text-align: center;
    }

    .footer-iner{
        padding: 20px 0;
    }


    /*Contacts*/

    .contacts-inner {
        margin: 40px 0;
    }

    .contacts {
        padding-top: 30px;
    }

    .contacts-info-item:last-child{
        max-width: 110px;
    }

    /*Doctor*/

    .doctors {
        padding-top: 30px;
    }

    .doctors-list{
        margin: 40px 0;

    }

    .doctors-name {
        font-size: 29px;
        margin-top: 25px;
    }

    .doctors-exp {
        font-size: 18px;
    }

    .doctors-prof {
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .doctors-info {
        height: 310px;
    }


    .doctors-btn{
        margin-bottom: 30px;
    }

}



@media (max-width: 576px){

    /*Message*/

    .message{
        font-size: 24px;
    }

    /*Header*/

    .header-logo-text{
        font-size: 40px;
        padding-left: 80px;

    }

    .header-logo img {
        max-width: 72px;
        bottom: 24px;
    }

    .header-logo-text::after {
        font-size: 18px;
    }

    .burger-menu{
        font-size: 30px;
        transform: translateY(-13px);

    }

    .cross {
        font-size: 37px;
        transform: translateY(-13px);
        margin-left: 23.12px;
    }

    .header-tel-icon{
        font-size: 26px;
    }

    .nav{
        top: 120px;
    }

    /*Intro*/

    .intro-right-title {
        font-size: 33px;
    }

    .intro-right-text {
        font-size: 20px;
    }

    .intro-iner {
        padding: 35px 0;
    }


    /*Benefits*/

    .benefits {
        padding: 55px 0;
    }

    .benefits-item{
        margin-bottom: 53px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-text {
        font-size: 20px;
    }

    .benefit-title {
        font-size: 21px;
    }

    .benefit-text {
        font-size: 19px;
    }

    /*Advertises*/

    .advertises {
        padding-bottom: 58px;
    }

    .advertise-title {
        font-size: 28px;
    }

    .advertise-text {
        font-size: 20px;
    }

    .btn{
        font-size: 20px;
        padding: 4px 35px 9px 35px;
    }

    .advertise:first-child {
        padding-top: 0px;
    }


    /*Partners*/

    .partners-list {
        padding-top: 10px;
    }

    .partners-item:nth-child(2n-1){
        padding-right: 20px;
    }

    .partners-item:nth-child(2n){
        padding-left: 20px;
    }


    /*Call*/

    .call-numbers {
        font-size: 39px;
    }


    .call-input{
        font-size: 39px;
    }

    .call-form {
        max-width: 263px;
    }

    .call-button {
        height: 51px;
        font-size: 21px;
        margin-left: 3px;
    }

    .call-iner {
        padding-top: 42px;
    }

    .call-numbers i{
        font-size:34px ;
        transform: translateY(-4px);

    }

    /*Contacts*/


    .contacts-info {
        flex-direction: column;
    }

    .contacts-info-item:last-child{
        margin-top: 30px;
    }


    /*Doctor*/

    .doctors-name {
        font-size: 26px;
        max-width: 200px;
    }

    .doctors-exp {
        font-size: 17px;
    }

    .doctors-item{
        width: 345px;
    }

    .doctors-prof {
        width: 250px;
    }

    .doctors-info {
        height: 290px;
    }


    .doctors-list {
        gap: 33px 33px;
    }
}



@media (max-width: 425px){

    /*Header*/

    .header-logo-text{
        font-size: 36px;
        padding-left: 65px;
    }

    .header-logo-text::after {
        font-size: 12px;
    }

    .header-logo img {
        max-width: 61px;
        bottom: 17px;
    }

    .burger-menu {
        font-size: 25px;
        transform: translateY(-7px);
    }

    .cross {
        font-size: 32px;
        transform: translateY(-9px);
        margin-left: 21.88px;
    }

    .header-tel-icon {
        font-size: 21px;
        transform: translateY(8px);
    }

    .nav {
        top: 109px;
    }

    /*Intro*/

    .intro-right-title {
        font-size: 28px;
    }

    .intro-right-text {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 23px;
    }

    .intro-iner img {
        margin-right: -23px;
    }

    /*Benefits*/

    .section-title {
        font-size: 24px;
    }

    .section-text {
        font-size: 18px;
        line-height: 1.27;
    }

    .benefit-title {
        font-size: 19px;
    }

    .benefit-text {
        font-size: 18px;
        padding: 0 15px;
        line-height: 1.27;

    }

    .benefits-item img {
        max-width: 100px;
    }

    .benefits-list {
        margin-top: 60px;
    }

    .benefits-item {
        margin-bottom: 40px;
    }


    /*Advertises*/

    .advertises {
        padding-bottom: 50px;
    }

    .advertise-title {
        font-size: 24px;
    }

    .advertise-text {
        font-size: 18px;
        line-height: 1.3;
        margin-top: 10px;

    }

    .advertise:first-child {
        margin-bottom: 85px;
    }


    /*Statistic*/

    .stat {
        margin-top: 35px;
    }

    .statistic{
        padding-top: 32px;
    }

    .stat-item{
        width: 100%;
        margin-bottom: 25px;

    }

    .stat-title {
        font-size: 36px;
    }

    .stat-text{
        font-size: 16px;
        margin-top: 8px;
    }

    .stat-item:last-child {
        margin-bottom: 35px;
    }


    /*Partners*/

    .partners {
        padding-top: 40px;
        padding-bottom: 65px;
    }

    .partners-item:last-child img {
        max-height: 80px;
    }

    /*Call*/

    .call-numbers {
        font-size: 36px;
    }

    .call-numbers i{
        font-size:31px ;
        transform: translateY(-4px);

    }

    .call-input{
        font-size: 36px;
        margin-bottom: 20px;

    }

    .call-form {
        max-width: 245px;
    }

    .call-button {
        height: 49px;
        font-size: 20px;
        margin-left: 3px;
        padding-top: 3px;
    }

    /*Contacts*/

    .contacts-info-item{
        width: 100%;
    }

    .contacts-inner {
        margin: 25px 0;
    }

    .contacts-inner img {
        margin-bottom: 15px;
    }

    .contacts-info-item:last-child{
        margin-top: 20px;
    }

    /*Doctor*/

    .doctors-list {
        margin: 25px 0;
    }

    .doctors-name {
        font-size: 24px;
    }

    .doctors-exp {
        font-size: 16px;
    }

    .doctors-info {
        height: 280px;
    }


    .doctors-prof {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .doctors-prof {
        width: 246px;
    }
}


@media(max-width:350px){
    .call-numbers i{
        display: none;
    }
}

